<a href="https://colab.research.google.com/github/zeinabezz/CS522-2022/blob/main/Implement_List%2C_tuple%2C_set%2C_dictionary_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# print a list
l=[1, 6, 8]
for x in l:
  print(x)

1
6
8

In [ ]:
# print a list
l=[1, 6, 8]
for i in range(len(l)):
  print(l[i])

1
6
8

In [ ]:
# print a list in a reverse order
l=[1, 6, 8]
for i in range(-1, -1*(len(l) +1), -1):
  print(l[i])

8
6
1

In [ ]:
# print a list in a reverse order
l=[1, 6, 8]
for i in range( len(l) -1, -1, -1):
  print(l[i])

8
6
1

In [ ]:
# print a list in a reverse order
l=[1, 6, 8]
for i in reversed(range(len(l))):
  print(l[i])

8
6
1

In [ ]:
#merge two lists in new list
l=[1, 6, 8]
s=['d', 'h']
m=l[:]
m[len(m):]=s[:]
print('s', s)
print('l', l)
print('m', m)

s ['d', 'h']
l [1, 6, 8]
m [1, 6, 8, 'd', 'h']

In [ ]:
#merge two lists in new list
l=[1, 6, 8]
s=['d', 'h']
m[:]=l          #m=l[:]   #NOT m=l
for x in s:
  m.append(x)
print('s', s)
print('l', l)
print('m', m)

s ['d', 'h']
l [1, 6, 8]
m [1, 6, 8, 'd', 'h']

In [ ]:
#merge two lists in the first list
l=[1, 6, 8]
s=['d', 'h']
l[len(l):]=s
print('s', s)
print('l', l)

s ['d', 'h']
l [1, 6, 8, 'd', 'h']

In [ ]:
#merge two lists in the first list
l=[1, 6, 8]
s=['d', 'h']
for x in s:
  l.append(x)
print('s', s)
print('l', l)

s ['d', 'h']
l [1, 6, 8, 'd', 'h']

In [ ]:
#merge two lists in the first list
l=[1, 6, 8]
s=['d', 'h']
for x in s:
  l[len(l):]=[x]
print('s', s)
print('l', l)

s ['d', 'h']
l [1, 6, 8, 'd', 'h']

In [ ]:
#search an item in a list
l=[1, 6, 8]
val=input("enter the value to search it")
if val.isdigit() : val=int(val)
for i in range (len(l)):
  if l[i] == val: 
    print('found in index ', i)
    break
else: print ('item is not found')

enter the value to search it6
found in index  1

In [ ]:

# count the occurance of an item in a list
l=[1, 6, 8, 6]
val=input("enter the value to search it: ")
if val.isdigit() : val=int(val)
count=0
for i in range (len(l)):
  if l[i] == val: 
    count+=1
    
print(count)

enter the value to search it: 6
2

In [ ]:
#sorting a list only incase of numbers
l=[1, 0, 6, 5, -23, 12, 2, 10]

for i in range(len(l)): 
  for j  in range(i+1, len(l)):
    if l[j]< l[i]: l[i], l[j]=l[j], l[i]

print(l)

[-23, 0, 1, 2, 5, 6, 10, 12]

**Tuple**

In [ ]:
#create a tuple from user
t=()
val= input('enter the tuple value: ')
if val.isdigit(): val=int(val)
t+=(val,)
while(True):
  ch= input(" Do you want to enter another value? y or n ")
  if ch in ['y', 'Y', 'yes', 'Yes']:
    val=input("enter the tuple value: ")
    if val.isdigit(): val= int(val)
    t+=(val,)
  else: break

print(t)

enter the tuple value: W
 Do you want to enter another value? y or n Yes
enter the tuple value: 2
 Do you want to enter another value? y or n Y
enter the tuple value: 456
 Do you want to enter another value? y or n Y
enter the tuple value: We
 Do you want to enter another value? y or n Jh
('W', 2, 456, 'We')

In [ ]:
#create a tuple from user
t=()
size= int(input('enter the tuple size: '))
for i in range(size):
    val=input("enter the tuple value: ")
    if val.isdigit(): val= int(val)
    t+=(val,)

print(t)

enter the tuple siz: 4
enter the tuple value: W
enter the tuple value: 2
enter the tuple value: 456
enter the tuple value: We
('W', 2, 456, 'We')

In [ ]:
#printing a tuple
t=(1, 'we', 234)
for x in t:
  print(x)

1
we
234

In [ ]:
#printing a tuple
t=(1, 'we', 234)
for i in range(len(t)):
  print(t[i])

1
we
234

In [ ]:
#merging two tuples in a new tuple
t=(1, 2, 3)
s=('a', 'b')
m=t
for i in range(len(s)):
  m+=(s[i], )
print('t', t)
print('s', s)
print('m', m)

t (1, 2, 3)
s ('a', 'b')
m (1, 2, 3, 'a', 'b')

In [ ]:
#merging two tuples in the first tupl
t=(1, 2, 3)
s=('a', 'b')
for i in range(len(s)):
  t+=(s[i], )
print('t', t)
print('s', s)

t (1, 2, 3, 'a', 'b')
s ('a', 'b')

In [ ]:
#count the occurence of an item in a tuple
t=(1, 2, 'py', 3, 'py')
count=0
val=input("enter the value you want to count: ")
if val.isdigit(): val=int(val)
for x  in t:
  if val==x: count+=1
if count==0: print("the element you search for is not found")
else: print(count)

enter the value you want to count: 45
the element you search for is not found

In [ ]:
#count the last  occurence of an item in a tuple
t=(1, 2, 'py', 3, 'py')
idx=-1
val=input("enter the value you want to count: ")
if val.isdigit(): val=int(val)
for i in range(len(t)): 
  if val==t[i]: idx=i
if idx==-1: print("the element you search for is not found")
else: print(idx)

enter the value you want to count: 1
0

In [ ]:
#count the last  occurence of an item in a tuple
t=(1, 2, 'py', 3, 'py')

val=input("enter the value you want to count: ")
if val.isdigit(): val=int(val)
for i in range(len(t)-1, -1, -1): 
  if val==t[i]: 
    print(i)
    break
else: print("the element you search for is not found")

enter the value you want to count: 1
0

In [ ]:
#printing a tuple in a reverse order
t=(1, 2, 3, 4, 5, 'py')
for i in range(-1, -1*(len(t) +1), -1):
  print(t[i])

py
5
4
3
2
1

In [ ]:
#adding an item to a tuple
t=(1, 4, 'we')
val= input('enter the value: ')
if val.isdigit(): val=int(val)
t+=(val,)
print(t)

enter the value: 3433#23
(1, 4, 'we', '3433#23')

In [ ]:
#insert value in a specific index in a tuple
t=(1, 'rty')
idx =int(input("enter the index: "))
val=input("enter the value: ")
if val.isdigit(): val=int(val)
t=t[:idx] + (val,) + t[idx:]
print(t)

enter the index: 0
enter the value: Tftf
('Tftf', 1, 'rty')

In [ ]:
t=(2, 5)
print(id(t))
t+=(34,)
print(id(t))

#tuple is immutable, thus NO  tuple comprehension
#------------------------
s={1,3,5}
print(id(s))
s.add(78)
print(id(s))
# set is mutable, thus there is set comprehension

140092367906368
140092369008112
140092575246288
140092575246288

**Set**

In [ ]:
#create a set from the user
size=int(input('enter the set size: '))
a=set()
for i  in range(size):
  val=input('enter the set value: ') 
  if val.isdigit(): val=int(val)
  a.add(val)
print (a)

enter the set size: 3
enter the set value: Qwe
enter the set value: 1234
enter the set value: W
{'Qwe', 1234, 'W'}

In [ ]:
#create a set from the user
size=int(input('enter the set size: '))
a={ input('enter the set value: ') for i  in range(size) }
print (a)

enter the set size: 2
enter the set value: Fygffd
enter the set value: 34554
{'34554', 'Fygffd'}

In [ ]:
#merge two sets in a new set
s={1,2,4,67,'er'}
d={1,56,543,'asd'}
m=set()
for x in s:
  m.add(x)
for x in d:
  m.add(x)


print('m', m)
print('s', s)
print('d', d)

m {'asd', 1, 2, 67, 4, 56, 'er', 543}
s {1, 2, 67, 4, 'er'}
d {56, 1, 'asd', 543}

In [ ]:
#adding a new value to a set
s={23, 5, 'er'}
val=input('enter the value: ')
if val.isdigit(): val=int(val)
s.add(val)
print(s)

enter the value: 456775
{'er', 5, 456775, 23}

In [ ]:
#printing a set values
s={'rtt', 3445, 'aaa'}
for x in s:
  print(x)

3445
rtt
aaa

In [ ]:
#merge two sets in the first set 
s={1,2,4,67,'er'}
d={1,56,543,'asd'}

for x in d:
  s.add(x)

print('s', s)
print('d', d)

s {'asd', 1, 2, 67, 4, 56, 'er', 543}
d {56, 1, 'asd', 543}

In [ ]:
s={23,4,54,45}
x={'wrt', 'aa'}
print(sorted(s))
print(sorted(x))

[4, 23, 45, 54]
['aa', 'wrt']

In [ ]:
#the implementation of the sorted function only incase of number
s={1, 0, 6, 5, -23, 12, 2, 10}
l=list(s)
for i in range(len(l)): 
  for j  in range(i+1, len(l)):
    if l[j]< l[i]: l[i], l[j]=l[j], l[i]

print(l)

[-23, 0, 1, 2, 5, 6, 10, 12]

**Dictionary**

In [ ]:
#printing a dict keys
d={1: 'qwe', 'ee': 3455, 23:55}
for key  in d:
  print(key)

1
ee
23

In [ ]:
#printing a dict value
d={1: 'qwe', 'ee': 3455, 23:55}
for key  in d:       #for key in d.keys()
  print(d[key])

qwe
3455
55

In [ ]:
#printing a dict keys and value
d={1: 'qwe', 'ee': 3455, 23:55}
for key  in d:
  print(key, d[key])

1 qwe
ee 3455
23 55

In [ ]:
#printing  a dictinary in a reverse order

d={23:'ert', 'sd': 245}
for key in reversed(list(d.keys())):
    print(key, d[key])

sd 245
23 ert

In [ ]:
#printing a dict items      
d={1: 'qwe', 'ee': 3455, 23:55}
print(d.items())

dict_items([(1, 'qwe'), ('ee', 3455), (23, 55)])

In [ ]:
#printing a dict keys and value
d={1: 'qwe', 'ee': 3455, 23:55}
for key, val in d.items():
  print(key, val)

1 qwe
ee 3455
23 55

In [ ]:
#create a dictinary from the user
size=int(input('enter the size of the dictionary: '))
d={}
for i in range(size):
   key=input('enter the key: ')
   if key.isdigit(): key=int(key)
   val=input('enter the value: ')
   if val.isdigit(): val=int(val)
   d[key]=val
print(d)

enter the size of the dictionary3
enter the key: We
enter the value: 233
enter the key: 76
enter the value: Wsd
enter the key: 23
enter the value: 445
{'We': 233, 76: 'Wsd', 23: 445}

In [ ]:
#create a dictinary from the user
size=int(input('enter the size of the dictionary: '))
d={ input('enter the value: '): input('enter the key: ') for i in range(size) }
print(d)

enter the size of the dictionary3
enter the ke: We
enter the value: 233
enter the ke: 76
enter the value: Wsd
enter the ke: 23
enter the value: 445
{'233': 'We', 'Wsd': '76', '445': '23'}

In [ ]:
#create a dictinary from the user
size=int(input('enter the size of the dictionary: '))
d={ i : i**2 for i in range(size) }
print(d)

enter the size of the dictionary: 3
{0: 0, 1: 1, 2: 4}