<a href="https://colab.research.google.com/github/zeinabezz/CS522-2022/blob/main/Revision_Sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Revision Sheet 1:](https://forms.gle/mYT7HJQYuN698xgU7)

# MCQ

## The following code is equivalent to:

In [ ]:
x=50
if x%2==0:
    print('even')
else:
    print('odd')

(a) <br>
x=50<br>
print(('odd', 'even')[x%2==0])

(b)<br>
x=50 <br>
if x%2==0 print('even')   else   print('odd')

(c) <br>
x=50 <br>
print('even') if x%2==0    else   print('odd')

(d) <br>
x=50 <br>
if x%2==0 print('even')   print('odd') else   

(e)<br>
a&c

In [ ]:
x=[1, 2, 3, 4, 5]
for i in range(len(x)):
    print(x[i])

(a)
<br>
x=[1, 2, 3, 4, 5]
<br>
for i in x:
<br>
$\;\;\;\;$ print(i)
    
(b)
<br>
x=[1, 2, 3, 4, 5] <br>
for i in x:<br>
$\;\;\;\;$    print(x)
    
(c)<br>
x=[1, 2, 3, 4, 5]<br>
for i in range(len(x)):<br>
$\;\;\;\;$ print(i)
    
(d) <br>
x=[1, 2, 3, 4, 5]
<br>for i in range(len(x)):
<br> $\;\;\;\;$print(x)

## What is the output of the following:

In [ ]:
a=5
A='hello'
a=10
print(A)

(a) hello 

(b) 10        

(c) 5      

(d) A

In [ ]:
x=[1, 2, 3, 4, 5]
for i in x:
    print(i)

(a) <br>
1   2   3   4   5

(b) <br>
[1, 2, 3, 4, 5] <br>
[1, 2, 3, 4, 5] <br>
[1, 2, 3, 4, 5]<br>
[1, 2, 3, 4, 5]<br>
[1, 2, 3, 4 ,5]

(c)<br>
0  1  2  3  4

(d) <br>
i  i  i  i  i

In [ ]:
x={'a':12, 'b':45}
for k, v in x.items():
    print(k, v)

(a)
a  12
b  45

(b) 
a
b

(c)
12
45

(d)
a&c

In [ ]:
x={'a':12, 'b': 45}
for k in x:
    print(k, x[k])

(a)<br>
a   12<br>
b   45

(b) <br>
a<br>
b

(c)<br>
12  <br>
45

(d) <br>
a&c

In [ ]:
s={1, 2, 2, 2, 3}
print(s)

(a) {1, 2, 3}

(b) {1, 2, 2, 2, 3}

(c) {2}

(d) {1, 3}

In [ ]:
#print('hello')   this is a comment

(a) hello

(b) error

(c) no output

(d) hello this is a comment

In [ ]:
def fun (*arg):
    x=len(arg)
    for i in range(x):
         print(arg[i])
fun(2, 3, 4, 5)

(a) 4  4  4  4

(b) 2  3  4  5  

(c)  4

(d) 0  1  2  3

In [ ]:
def fun (*arg):
    x=len(arg)
    print(x, type(arg))
fun(2, 3, 4, 5)

(a) 2  dictionary

(b) 2  set

(c) 4  float

(c) 4  tuple

In [ ]:
def fun (**arg):
    x=len(arg)
    print(x, type(arg))
fun(a=2, b=3, c=4, d=5)

(a) 0  tuple

(b) 4 dictonary

(c) 4 set

(d) 0 list

In [ ]:
def fun (a, b, c):
    print(c)
    print(a)
    print(b)

fun(b=23, c='hi', a=[1, 2, 3])

(a)<br>
23<br>
hi<br>
1 $\;\;$ 2 $\;\;$ 3

(b)<br>
1 $\;\;$2 $\;\;$ 3<br>
23 <br>
hi

(c)<br>
hi <br>
1$\;\;$2$\;\;$3 <br>
23

(d)<br>
23<br>
1$\;\;$ 2$\;\;$3 <br>
hi

In [ ]:
def fun (a, b, c=34):
    print(c)
    print(a)
    print(b)

fun(13, 0)

(a) 34   13  0

(b) error

(c) 13  0

(d)  a&c

In [ ]:
for i in range(3):
    if i==1:
        break
    print(i)
else:
    print('other')

(a) 0  other

(b) 0  

(c) 0  1  2 other

(d) 0  1  2

In [ ]:
for i in range(3):
    if i==1:
        continue
    print(i)
else:
    print('other')

(a) 0  2  other

(b) 0  1  2  other

(c) 0  2  

(d)  0  1  2

In [ ]:
for i in range(3):
    if i==1:
        break
    print(i)

(a)  0

(b)  0  1  

(c)  0  1  2

(d)  0  2

In [ ]:
for i in range(3):
    if i==1:
        continue
    print(i)

(a)  0  1  2

(b)  0  1

(c)  0  2

(d)  1  2

In [ ]:
for i in range(3):
    print(i)
else:
    print('other')

(a) 0  1  2  other

(b) 0  1  2

(c) other

(d) 3 other

In [ ]:
for i in range(3):
    print(i)

(a) 0  1  2

(b) 0  1  2  3

(c) 1  2  3

(d) i  i  i

In [ ]:
x=lambda a, b:a+b
print(x(1, 2))

(a) 1

(b) 2

(c) 3

(d) 0

## Choose the error line number in each of the following:

In [ ]:
1. def foo(x, y, z=[], w):
2.     return x+y*w

3. a=10
4. print(foo(a, 1, 4))

(a) line 1

(b) line 2

(c) line 3

(d) line 4

In [ ]:
1. def fun(*nums, x):
2.     for i in nums:
3.         print(i)

4. fun(2, 3, 6, 9)

(a) line 1

(b) line 2

(c) line 3

(d) line 4

In [ ]:
1. x=10
2. if x%2==0:
3.    print("even number")
4. else:
5.    break

(a) line 2

(b) line 3

(c) line 4

(d) line 5

In [ ]:
1. c=[1, 2, 3, 4]
2. for i in reversed(range(len(c))):
3.   print(i)
4. else:
5.   break

(a) line 2

(b) line 3

(c) line 4

(d) line 5

In [ ]:
1. def cal_l(a, b, c):
2.     l=a*b-c
3.     return l
         
4. cal_l(3, 4, 6, 0)

(a)  line 1

(b) line 2

(c) line 3

(d) line 4

In [ ]:
1. def cal_l(a, b, c, d):
2.     l=a*b-c
3.     return l
         
4. cal_l(3, 4, c=6, 0)

(a)  line 1

(b) line 2

(c) line 3

(d) line 4

In [ ]:
1. x={10, 3, 6, 8}
2. if x[0]==2:
3.    print("yes")
4. else:
5.    print("No")

(a) line 1

(b) line 2

(c) line 3

(d) line 5

In [ ]:
1. x=23
2. y=87

3. print(z)
4. z=4

(a) line 1

(b) line 2

(c) line 3

(d) line 4

## What is the output of the following:

In [ ]:
x=[1, 2, 3]
y=x
if(id(y)==id(x)):
    print('same')
else:
    print('different')

(a) same

(b) different

(c) 123345432

(d) error

In [ ]:
x=[1, 2, 3]
y=x[:]
if(id(y)==id(x)):
    print('same')
else:
    print('different')

(a) same

(b) different

(c) 123345432

(d) error